@page "/"
<PageTitle>الصفحة الرئيسية</PageTitle>

                  <strong style= "color:blueviolet;">يشرفني بأن تطلع على سيرتي الذاتية</strong>
<br/>
<br/>
<br/>

<p>
    
خريج من معهد الادارة العامة منتهيا بالتوضيف في قطاع الحرس الملكي 
<br/>
تخصص برمجة الحاسب الآلي وتطوير النظم 
لقد كسبت من دراستي اللغة الأنجليزية والبعض من اللغات البرمجية 
<br/>
يمكنك الاطلاع عليها بالضفط على الزر في الاسفل

</p>

<br/>
<br/>
<a href="Mywork">
    <button>لغاتي البرمجية </button>
    <br/>
    <br/>
    <a href="Photos">

        <button> الصور</button>
        
    </a>
</a>
<br/>
<br/>
<Advertizment/>

<a href="CustomerList">
 <button class="btn btn-primary" style="width:90%;">

     Go to page Customer
 
</button>
 </a>
