@page "/"

<PageTitle>اعمالي</PageTitle>

<h1>يزيد عبدالله</h1>
<p>مبرمج متمكن </p>


<br/>
<br/>
<a href="Mywork">
    <button>اعمالي</button>
</a>
<br/>
<br/>
<img src="/yazeed.jpg" width="300"/>

<Advertizment/>
