@page "/"
<PageTitle>الصفحة الرئيسية</PageTitle>

<h1 style="color:blueviolet;">يشرفني بأن تطلع على سيرتي الذاتية</h1>

<p>
    
خريج من معهد الادارة العامة منتهيا بالتوضيف في قطاع الحرس الملكي , تخصص برمجة الحاسب الآلي وتطوير النظم 
لقد كسبت من دراستي اللغة الأنجليزية والبعض من اللغات البرمجية يمكنك الاطلاع عليها بالضفط على الزر في الاسفل

</p>


<br/>
<br/>
<a href="Mywork">
    <button>لغاتي البرمجية</button>
</a>
<br/>
<br/>
<Advertizment/>

