@page "/MyWork"
<h3>لغاتي البرمجية</h3>

<p> C#</p>
<p>Html</p>
<p>java</p>
<br/>

<i> وطامح لتعلم المزيد من اللغات والمهارات والحرف البرمجية والتصاميم </i>


@code {

}


<br/>
<br/>
<a href="/">
    <button>الرئيسية </button>
    </a>
