@page "/Photos"
<h3>Photos</h3>
@for (var i = 1; i < 8; i++)
{
    <img src="@($"img/{i}.png")" width="200"/>
}


@code {

}
<Advertizment/>


<br/>
<br/>
<a href="/">
    <button> الرئيسية </button>
    </a>