 @page "/yaz"
<h3>Yazeed</h3>

<table class="table">
    <tr>
        <th>الاسم</th>
        <th>رقم الجوال</th>
        <th>العمر</th>
    </tr>
    @foreach (var item in this.yazeedmodels)
   {
        <tr>
            <td>@item.name</td>
            <td>@item.age</td>
        </tr>
   }
</table>

@code {
    public List<Tools.models.yazeed> yazeedmodels { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var respones = await client.GetAsync("https://localhost:7172/Yazeed");
        yazeedmodels = await respones.Content.ReadAsAsync<List<Tools.models.yazeed>>();
    }

}
s