@page "/DeleteRecord/{Id}"
@inject NavigationManager _nav
<h3>حذف العميل </h3>
@if(this.Record != null)
{
    <label>الاسم: @Record.name</label>
    <br/>
    <label>العمر: @Record.Age</label>
}
<p>هل انت متاكد من حذف البيانات؟</p>
<button @onclick="this.Delete">حذف</button>
<button @onclick="this.Back">إلغاء</button>

@code {
    public Tools.Model.record1 Record { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7110/Record/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            this.Record = await response.Content.ReadAsAsync<Tools.Model.record1>();
        }
    }
    async Task Delete()
    {
        var client = new HttpClient();
        var response = await client.DeleteAsync("https://localhost:7110/Record/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            _nav.NavigateTo("Record");
        }
    }
    void Back()
    {
        _nav.NavigateTo("Record");
    }

}
}