@page "/NewRecord"
@inject NavigationManager _nav
<h3>عميل جديد</h3>
<label> الاسم:</label>
<input type="text" @bind-value="this.Record.name"/>
<label>العمر:</label>
<input type="number" @bind-value="this.Record.Age"/>
<button @onclick="Submit">حفظ</button>
<button @onclick="this.Back">إلغاء</button>

@code {
    public Tools.Model.record1 Record { get; set; } = new();
    async Task Submit()
    {
        var client = new HttpClient();
        var response = await client.PostAsJsonAsync("https://localhost:7110/Record", Record);
        if(response.StatusCode == System.Net.HttpStatusCode.Created)
        {
            _nav.NavigateTo("Record");
        }
    }
        void Back()
    {
        _nav.NavigateTo("Record");
    }

}