@page "/DeleteStudents/{Id}"
@inject NavigationManager _nav
<h3>حذف العميل </h3>
@if(this.Students != null)
{
    <label>الاسم: @Students.Name</label>
    <br/>
    <label>العمر: @Students.Age</label>
}
<p>هل انت متاكد من حذف البيانات؟</p>
<button @onclick="this.Delete">حذف</button>
<button @onclick="this.Back">إلغاء</button>

@code {
    public Tools.Models.Students Students { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7110/Students/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            this.Students = await response.Content.ReadAsAsync<Tools.Models.Students>();
        }
    }
    async Task Delete()
    {
        var client = new HttpClient();
        var response = await client.DeleteAsync("https://localhost:7110/Students/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            _nav.NavigateTo("Students");
        }
    }
    void Back()
    {
        _nav.NavigateTo("Students");
    }

}