@page "/DeleteStudents/{Id}"
@inject NavigationManager _nav
<h3>delete student </h3>
@if(this.Student != null)
{
    <label>name: @Student.Name</label>
    <br/>
    <label>age: @Student.Age</label>
}
<p>are you sure you want to delete information</p>
<button @onclick="this.Delete">delete</button>
<button @onclick="this.Back">cancle</button>

@code {
    public Tools.Models.Students Student { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7110/Students/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            this.Student = await response.Content.ReadAsAsync<Tools.Models.Students>();
        }
    }
    async Task Delete()
    {
        var client = new HttpClient();
        var response = await client.DeleteAsync("https://localhost:7110/Students/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            _nav.NavigateTo("Students");
        }
    }
    void Back()
    {
        _nav.NavigateTo("Students");
    }

}