@page "/newStudents"
@inject NavigationManager _nav
<h3>new student</h3>
<label> name:</label>
<input type="text" @bind-value="this.Student.Name"/>
<label>age:</label>
<input type="number" @bind-value="this.Student.Age"/>
<button @onclick="Submit">save</button>
<button @onclick="this.Back">cancle</button>

@code {
    public Tools.Models.Students Student { get; set; } = new();
    async Task Submit()
    {
        var client = new HttpClient();
        var response = await client.PostAsJsonAsync("https://localhost:7110/Students", Student);
        if(response.StatusCode == System.Net.HttpStatusCode.Created)
        {
            _nav.NavigateTo("Students");
        }
    }
        void Back()
    {
        _nav.NavigateTo("Students");
    }

}