@page "/StudentsDetails/{Id}"
@inject NavigationManager _nav
<h3>student details</h3>
@if(this.Students != null)
{
    <label>name: @Students.Name</label>
    <br/>
    <label>age: @Students.Age</label>
}
<button @onclick="this.Back">back</button>
@code {
    public Tools.Models.Students Students { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7110/Students/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            this.Students = await response.Content.ReadAsAsync<Tools.Models.Students>();
        }
    }
    void Back()
    {
        _nav.NavigateTo("Students");
    }
}