@page "/Customers"
<h3>Customers</h3>

<table class="table">
    <tr>
        <th>الاسم</th>
        <th>رقم الجوال</th>
        <th>العمر</th>
    </tr>
    @foreach (var item in CustomersModel)
   {
        {
        <tr>
            <td>@item.name</td>
            <td>@item.Age</td>
           
        </tr>
    }
   }
    
</table>

@code {
    public List<Tools.Model.Customers> CustomersModel { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:2030/Users");
        CustomersModel = await response.Content.ReadAsAsync<List<Tools.Model.Customers>>();
    }
}