@page "/Customer"
<h3>Customer</h3>

<table class="table">
    <tr>
        <th>فيصل</th>
        <th>23</th>
    </tr>
    @foreach (var item in this.Customermodel)
   {
        <tr>
            <td>@item.name</td>
            <td>@item.Age</td>
        </tr>
   }
</table>

@code {
    public List<Tools.Model.Customer> Customermodel { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7250/Customers");
        Customermodel = await response.Content.ReadAsAsync<List<Tools.Model.Customer>>();
    }
}