@page "/Employers"
<h3>Employers</h3>

<table class="table">
    <tr>
        <th>الاسم</th>
        <th>العمر</th>
    </tr>
    @foreach (var item in this.Employers)
   {
        <tr>
            <td>@item.name</td>
            <td>@item.Age</td>
        </tr>
   }
</table>

@code {
    public List<Tools.Models.Employers> Employers { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:4442/Employers");
        Employers = await response.Content.ReadAsAsync<List<Tools.Models.Employers>>();
    }
}

