@page "/"

<PageTitle>الصفحة الرئيسية</PageTitle>

<h1>مرحبا بكم في السيرة الذاتية</h1>

خريج دبلوم بالبرمجة     


<br/>
<br/>
<a href="Mywork">
    <button>اعمالي</button>
</a>
<br/>
<br/>
<img src="/amer.jpg" width="300"/>