@page "/"

<PageTitle>الصفحة الرئيسية</PageTitle>

<h1>مرحبا بكم في السيرة الذاتية</h1>
<br/>
<br/>
<img src="/icon-login-4.jpg" width="300"/>
<br/>
<br/>
<a href="Testicular information">
<button>المعلومات الشخصية</button>
</a>
<br/>
<br/>
<a href="education">
    <button>التعليم</button>
</a>
<br/>
<br/>
<a href="Mywork">
    <button>اعمالي</button>
</a>
<br/>
<br/>
