@page "/"

<PageTitle>الصفحة الرئيسية</PageTitle>

<h1>مرحبا بكم في السيرة الذاتية</h1>
فيصل سليمان الرشيدي
خريج معهد الادارة العامة مبرمج
<img src="/sss.jpg" width="300"/>
<br/>
<br/>
<a href="Personal">
   
    <button>المعلومات الشخصية</button>
</a>
<br/>
<br/>
<br/>
<br/>
<a href="Experiances">
   
    <button>خبراتي</button>
</a>
<br/>
<br/>
<br/>
<br/>
<a href="Mywork">
   
    <button>اعمالي</button>
</a>
<br/>
<br/>