@page "/"

<PageTitle>الصفحة الرئيسية</PageTitle>

<h1>مرحبا بكم في موقعي الخاص!</h1>

عبدالله شباب العتيبي مبرمج في الحرس الملكي

<br/>
<br/>
<a href="mywork">
    <button>اعمالي</button>
</a>
<br/>
<br/>

<img src="/royal.jpg" width="300"/>
