@page "/"

<PageTitle>الصفحة الرئيسية</PageTitle>

<h1>مرحبا بكم في السيرة الذاتية</h1>

خريج ثانوية مفحط بالبرمجة لا يمكن تجدون افضل مني
<br/>
<br/>
<a href="Mywork">
    <button>اعمالي</button>
</a>
<br/>
<br/>
<img src="/Aiman.jpg" width="300"/>