@page "/customer"
@inject NavigationManager _nav
<h3>العملاء</h3>
<button @onclick="GoToNewPage">اضافة زبون جديد</button>
<table class="table">
    <tr>
        <th>الاسم</th>
        <th>العمر</th>
        <th></th>
    </tr>
    @foreach (var item in this.Customers)
   {
        <tr>
            <td>@item.name</td>
            <td>@item.Age</td>
            <td>
                <button @onclick="()=> GoToDetailsPage(item.Id)">التفاصيل</button>
                <button @onclick="()=> GoToUpdatePage(item.Id)">تعديل</button>
                <button @onclick="()=> GoToDeletePage(item.Id)">حذف</button>
            </td>
        </tr>
   }
</table>

@code {
    public List<Tools.Models.Customers> Customers { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:4442/Customers");
        Customers = await response.Content.ReadAsAsync<List<Tools.Models.Customers>>();
    }
    void GoToNewPage()
    {
        _nav.NavigateTo("newcustomer");
    }
    void GoToDetailsPage(int id)
    {
        _nav.NavigateTo("CustomerDetails/" + id);
    }
    void GoToDeletePage(int id)
    {
        _nav.NavigateTo("DeleteCustomer/" + id);
    }
    void GoToUpdatePage(int id)
    {
        _nav.NavigateTo("UpdateCustomer/" + id);
    }
}