<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">My web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> نبذة عن السيرة الذاتيه
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> صورتي االشخصية
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> شهاداتي العلمية المعتمدة
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Photos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> الصور
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> تسجيل دخول
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HtmlTable">
                <span class="oi oi-list-rich" aria-hidden="true"></span> جدول ألأسماء والعمر
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customr">
                <span class="oi oi-list-rich" aria-hidden="true"></span> customr
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PostData">
                <span class="oi oi-list-rich" aria-hidden="true"></span> PostData
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
