@page "/CustomerDetails/{Id}"
@inject NavigationManager _nav
<h3>تفاصيل العميل</h3>
@if(this.Yaseere != null)
{
    <label>الاسم: @Yaseere.name</label>
    <br/>
    <label>العمر: @Yaseere.age</label>
}
<button @onclick="this.Back">رجوع</button>
@code {
    public Tools.models.Yaseer Yaseere { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7172/Yaseer/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            this.Yaseere = await response.Content.ReadAsAsync<Tools.models.Yaseer>();
        }
    }
    void Back()
    {
        _nav.NavigateTo("Yaseer");
    }
}