@page "/DeleteFollowing/{Id}"
@inject NavigationManager _nav
<h3>حذف العميل </h3>
@if(this.Followings != null)
{
    <label>الاسم: @Followings.name</label>
    <br/>
    <label>العمر: @Followings.Age</label>
}
<p>هل انت متاكد من حذف البيانات؟</p>
<button @onclick="this.Delete">حذف</button>
<button @onclick="this.Back">إلغاء</button>

@code {
    public Tools.Model.Following Followings { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7110/Followings/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            this.Followings = await response.Content.ReadAsAsync<Tools.Model.Following>();
        }
    }
    async Task Delete()
    {
        var client = new HttpClient();
        var response = await client.DeleteAsync("https://localhost:7110/Followings/" + Id);
        if(response.StatusCode == System.Net.HttpStatusCode.NoContent)
        {
            _nav.NavigateTo("Followings");
        }
    }
    void Back()
    {
        _nav.NavigateTo("Followings");
    }

}
