@page "/Followings"
@inject NavigationManager _nav
<h3>Following</h3>
<button @onclick="GoToNewPage">Add a serious friend</button>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Number phone</th>
        <th></th>
    </tr>
    @foreach (var item in this.Followings)
   {
        <tr>
            <td>@item.name</td>
            <td>@item.Age</td>
            <td>
                <button @onclick="()=> GoToDetailsPage(item.id)">Details</button>
                <button @onclick="()=> GoToUpdatePage(item.id)">Update</button>
                <button @onclick="()=> GoToDeletePage(item.id)">Delete</button>

            </td>
        </tr>
   }
</table>

@code {
    public List<Tools.Model.Following> Followings { get; set; } = new();

   
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:7110/Followings");
        Followings = await response.Content.ReadAsAsync<List<Tools.Model.Following>>();
    }
    void GoToNewPage()
    {
        _nav.NavigateTo("NewFollowing");
    }
    void GoToDetailsPage(int id)
    {
        _nav.NavigateTo("FollowingDetails/" + id);
    }
    void GoToDeletePage(int id)
    {
        _nav.NavigateTo("DeleteFollowing/" + id);
        
        
    }
    void GoToUpdatePage(int id)
    {
        _nav.NavigateTo("UpdateFollowing/" + id);
    }
}