@page "/NewFollowing"
@inject NavigationManager _nav
<h3>New added</h3>
<label> Name:</label>
<input type="text" @bind-value="this.Followings.name"/>
<label>Number phone:</label>
<input type="number" @bind-value="this.Followings.Age"/>
<button @onclick="Submit">Save</button>
<button @onclick="this.Back">Cansel</button>

@code 
{
    public Tools.Model.Following Followings { get; set; } = new();
    async Task Submit()
    {
        var client = new HttpClient();
        var response = await client.PostAsJsonAsync("https://localhost:7110/Followings", Followings);
        if(response.StatusCode == System.Net.HttpStatusCode.Created)
        {
            _nav.NavigateTo("Followings");
        }
    }
        void Back()
    {
        _nav.NavigateTo("Followings");
    }

}
