@page "/CheckCv"
<h1>avtivities</h1>

 <p class="bg-primary text-white">computer prgrammomg.</p>
  <p class="bg-success text-white">drive.</p>
  <p class="bg-info text-white">read.</p>
  <p class="bg-warning text-white">write.</p>

@code {

}