@page "/"

<PageTitle>main page</PageTitle>

<h1>welcome to my website</h1>

computer programmer
<br/>
<br/>
<a href="Mywork">
    <button>more datails</button>
</a>
<br/>
<br/>
<img src="/cv.jpg" width="300"/>
