@page "/"

<PageTitle>main page</PageTitle>

<h1>welcome to my website</h1>

computer programmer
<br/>
<br/>
<a href="CheckCv">
</a>
<br/>
<br/>
<div class="card" style="width:300px">
  <img class="card-img-top" src="/cv.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">mohammed</h4>
    <p class="card-text">programmer cv.</p>
   <button type="button" class="btn btn-outline-success">CheckCv</button>
  </div>
</div>
