@page "/Books"
@inject NavigationManager _nav
<h3>الكتب</h3>
<button @onclick="GoToNewPage">اضافة كتاب جديد</button>
<table class="table">
    <tr>
        <th>اسم الكتاب</th>
        <th>رقم الكتاب</th>
        <th></th>
    </tr>
    @foreach (var item in this.book)
   {
        <tr>
            <td>@item.name</td>
            <td>@item.Age</td>
            <td>
                <button @onclick="()=> GoToDetailsPage(item.Id)">التفاصيل</button>
                <button @onclick="()=> GoToUpdatePage(item.Id)">تعديل</button>
                <button @onclick="()=> GoToDeletePage(item.Id)">حذف</button>
            </td>
        </tr>
   }
</table>

@code {
    public List<Tools.Model.Books> book { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetAsync("https://localhost:2030/Books");
        book = await response.Content.ReadAsAsync<List<Tools.Model.Books>>();
    }
    void GoToNewPage()
    {
        _nav.NavigateTo("newBook");
    }
    void GoToDetailsPage(int id)
    {
        _nav.NavigateTo("BookDetails/" + id);
    }
    void GoToDeletePage(int id)
    {
        _nav.NavigateTo("DeleteBook/" + id);
    }
    void GoToUpdatePage(int id)
    {
        _nav.NavigateTo("UpdateBook/" + id);
    }
}